input{
    width: 300px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ccc;
    
}
select
{
    width: 300px;
    height: 40px;
    border-radius: 3px; 
    border: 1px solid #ccc;  
}
div{
text-align: center;
}
h2{
    color: rgb(125, 125, 250);
    padding-top: 10px;
}
#flexCheckDefault{
    width: 30px;
    height: 11px;
    margin-right: 10px;
}
button{
    margin-top: 10px;
}
