<p style="color: white;padding-top: 100px;font-weight: 500;font-size: 30px;">Your Booking</p>
<div class="container-fluid">
   <!----<div class="card rounded p-5" style="box-shadow: 5px 4px 8px rgb(33, 38, 39);">
      <table class="table table-bordered">
        <tr>
            <th>Current Location</th>
            <th>Destination</th>
            <th>Departure Time</th>
            <th>Seats</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let item of receivedData,let i=index">
          <td>{{item.CurrentLocation}}</td>
          <td>{{item.Destination}}</td>
          <td>{{item.Departure}}</td>
          <td>{{item.Seats}}</td>
          <td>
            <button class="btn btn-primary" (click)="Edit(i)" data-toggle="modal" data-target="#exampleModal">Edit</button>&nbsp;
            <button class="btn btn-danger" (click)="Delete(i)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  -->
  <div class="row">
    <div class="col-lg-3" *ngFor="let item of receivedData,let i=index">
      <div class="card mt-2" style="width: 18rem;box-shadow:5px 4px 8px rgb(33, 38, 39) ;">
        <img class="card-img-top p-2" src="../../assets/images/download.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{item.CurrentLocation}}-{{item.Destination}}</h4>
          <p style="font-size: 20px;font-weight: 400;" class="card-text">
            Departure:{{item.Departure}} <br>
            Seats:{{item.Seats}}
          </p>
          <a  class="btn btn-outline-primary" (click)="Edit(i)" data-toggle="modal" data-target="#exampleModal">Edit</a>&nbsp;&nbsp;
          <a  class="btn btn-outline-danger" (click)="Delete(i)">Delete</a>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="text-align: center;" id="exampleModalLabel">Update Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm" (ngSubmit)="updateValue(updateForm.value)">
          <div class="form-group">
            <input type="text" formControlName="CurrLocation"  class="form-control" placeholder="Current Location" name="CurrentLocation">
          </div>
          <div class="form-group">
            <input type="text" formControlName="Desti"  class="form-control" placeholder="Destination" name="Destination">
          </div>
          <div class="form-group">
            <input type="number" formControlName="Depart"  class="form-control" placeholder="Departure" name="Departure">
          </div>
          <div class="form-group">
            <input type="number" formControlName="Seat"  class="form-control" placeholder="Seats" name="Seats">
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary" >Update</button>
        </form>
      </div>
      
        
      
      
    </div>
  </div>
 </div>
</div>
