<p style="color: white;padding-top: 100px;font-weight: 500;font-size: 30px;">Your Booking</p>
<div class="container">
    <div class="card rounded p-5" style="box-shadow: 5px 4px 8px rgb(33, 38, 39);">
      <table class="table table-bordered">
        <tr>
            <th>Current Location</th>
            <th>Destination</th>
            <th>Departure Time</th>
            <th>Seats</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let item of receivedData,let i=index">
          <td>{{item.CurrentLocation}}</td>
          <td>{{item.Destination}}</td>
          <td>{{item.Departure}}</td>
          <td>{{item.Seats}}</td>
          <td>
            <button class="btn btn-primary" (click)="Edit(i)">Edit</button>&nbsp;
            <button class="btn btn-danger" (click)="Delete(i)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
</div>
